.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 5px 0;
  background-color: #222;
  color: white;
  position: fixed; /* barra fixa no topo */
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  justify-content: start;
}


.nav a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav a:hover {
  color: #00bfff;
}

@media (max-width: 1080px) {
  .header {
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
  }

  .logo {
    margin-bottom: 10px; /* espaço abaixo do logo */
  }

  .nav {
    flex-direction: column; /* empilha os links verticalmente */
    gap: 15px; /* espaço entre os links */
    width: 100%;
    align-items: center;
  }

  .nav a {
    font-size: 18px;
  }
}
